- name: clone community-plugins
  git: repo=https://github.com/sensu-plugins/sensu-plugins-disk-checks.git
    dest=/opt/sensu-disk-checks/
    version="{{ sensu_disk_checks_version }}" update=no

- name: symlink checks
  file:
    state: link
    path: "/etc/sensu/plugins/{{ item }}"
    src: "/opt/sensu-disk-checks/bin/{{ item }}"
  with_items:
    - check-disk-usage.rb
    - check-fstab-mounts.rb
    - check-smart.rb
    - check-smart-status.rb
    - metrics-disk-capacity.rb
    - metrics-disk.rb
    - metrics-disk-usage.rb

- name: Install checks dependencies
  gem:
    name: "{{ item }}"
    executable: /opt/sensu/embedded/bin/gem
    user_install: no
  with_items:
    - sys-filesystem
